<?xml version="1.0" encoding="UTF-8"?>
<dataSet>
    <service use="false" desc="本地开发环境数据信息">
        <host>localhost</host>
        <port>3306</port>
        <user>test</user>
        <pwd>test</pwd>
        <database>qa_automation</database>
        <charset>utf8</charset>
    </service>
    <service use="true" desc="线上环境数据信息">
        <host>192.168.12.186</host>
        <port>3306</port>
        <user>test</user>
        <pwd>test</pwd>
        <database>qa_automation</database>
        <database2>qa_user</database2>
        <charset>utf8</charset>
    </service>
    <redis use="true" desc="Redis配置信息">
        <host>localhost</host>
        <port>6379</port>
        <db>0</db>
    </redis>
    <Data use="true">
        <appPackage>com.yunshuxie.bearword</appPackage>
        <appActivity>com.yunshuxie.bearword.ui.activity.SplashActivity</appActivity>
        <noReset>True</noReset>
        <platformName>Android</platformName>
        <platformVersion>9</platformVersion>
        <deviceName>huawei nova4e</deviceName>
        <unicodeKeyboard>True</unicodeKeyboard>
        <resetKeyboard>True</resetKeyboard>
        <autoGrantPermissions>True</autoGrantPermissions>
    </Data>
    <Data use="false">
        <appPackage>com.yunshuxie.main</appPackage>
        <appActivity>com.yunshuxie.main.SplashActivity</appActivity>
        <noReset>True</noReset>
        <platformName>Android</platformName>
        <platformVersion>9</platformVersion>
        <deviceName>huawei nova4e</deviceName>
        <unicodeKeyboard>True</unicodeKeyboard>
        <resetKeyboard>True</resetKeyboard>
        <autoGrantPermissions>True</autoGrantPermissions>
    </Data>
        <Data use="false">
        <appPackage></appPackage>
        <appActivity></appActivity>
        <noReset></noReset>
        <platformName></platformName>
        <platformVersion></platformVersion>
        <deviceName></deviceName>
        <unicodeKeyboard></unicodeKeyboard>
        <resetKeyboard></resetKeyboard>
        <autoGrantPermissions></autoGrantPermissions>
    </Data>
</dataSet>